body {
  background-color: #b0e0e6;
}

h1{
  font-size: 30px;
  color: #5f9ea0;
}
h3{
  color: #5f9ea0;
}

hr {
  border: none;
  border-top-style:dotted;
  border-color:#5f9ea0;
  border-width:5px;
  width:5%;

}

.yellow {
   height: 100px;
  width: 100px;
    position: fixed;
  top:1;
  
}

.link {
  <br>
}

.link-2 {
  <br>
}

.educationl {
  <br>
}


.l{
  <br>
}

.f{
  <br>
}

.e{
  <br>
}

.w {
  <br>
}

h2 {
  background-color: #b0e0e6;
}






